
form {
  ::ng-deep {
    .mat-mdc-form-field-flex {
      background-color: #ffffff;
    }

    .mat-mdc-text-field-wrapper {
      background-color: #ffffff;
    }

    .mdc-text-field--outlined {
      --mdc-outlined-text-field-container-shape: 8px;
    }

    .mat-mdc-form-field-focus-overlay {
      background-color: #ffffff;
    }

    .mdc-notched-outline__notch {
      border-right: none;
    }
  }
}

